.modal-container {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.modal {
  background: white;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 40%;
  top: 30%;
  padding: 20px;
  border-radius: 8px;
}
.modal-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.modal a {
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
}
.modal-content {
  margin-top: 20px;
}
.close-btn {
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.button-delete {
  background: red;
  border-radius: 8px;
  border: none;
  padding: 12px 30px;
  color: white;
}
.button-outline {
  padding: 12px 30px;
}
.js-modal-buttons {
  margin-top: 10px;
}
.modal-content {
  font-size: 14px;
  margin-bottom: 40px;
}
